.my_posts_wrapper{
	display: flex;
	text-align: center;
	flex-direction: column;
}
.my_posts_wrapper_input{
	width: 500px;
	height: 30px;
	margin: 5px;
}
.my_posts_wrapper_button{
	width: 100px;
	height: 30px;
	margin: 5px;
}