.navigation_wrapper{
	width: 10%;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navigation_wrapper>div:hover{
	color: #FE0001;
}
.navigation_wrapper>div>a{
	color: white;
	text-decoration: none;
}
.navigation_wrapper>div>a.activeLink{
	color: #FE0001;
	text-decoration: none;
}
.navigation_wrapper>div>a.navLink{
	color: white;
	text-decoration: none;
}