.app-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 1200px;
  background-color: white;
}

.main{
  display: flex;
  background-color: black;
  color: red;
}
.main img {
  max-width: 1120px;
}
a{
  color: white;
}