.dialogs_wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.dialogs_items{
	display: flex;
	flex-direction: column;
}
.dialogs_items > div:hover{
	color: #FE0001;
}
.dialogs_messages{
	display: flex;
	flex-direction: column;
}
.dialogs_messages{
	color: #8336E7;
}
.dialogs_items>div>a{
	color: white;
	text-decoration: none;
}
.dialogs_items>div>a.activeLink{
	color: #FE0001;
	text-decoration: none;
}
.dialogs_items>div>a.navLink{
	color: white;
	text-decoration: none;
}
