.dialogs_wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
.dialogs_items{
	display: flex;
	flex-direction: column;
}
.dialogs_items > div:hover{
	color: #FE0001;
}
.dialogs_messages{
	display: flex;
	flex-direction: column;
	color: #8336E7;
}